bin
build
out
target

lib/*
.gradle
.classpath
.project
.settings
*.zip
.DS_Store
*.iml
*.ipr
*.iws
.idea
.gradletasknamecache
desktop.ini
fitserverSentinel*
tmp/*
FitNesseRoot/properties
FitNesseRoot/ErrorLogs/*
FitNesseRoot/files/testResults/*
FitNesseRoot/RecentChanges*
FitNesseRoot/RerunLastFailures*.wiki
junit*.properties
FitNesseRoot/updateDoNotCopyOverList
FitNesseRoot/updateList
